.title__cards{
    margin-top: 50px;
    margin-bottom: 30px;
}

.title__cards h2{
    margin-bottom: 8px;
}

.card__list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card__list::-webkit-scrollbar{
    display: none;
}

.card__list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card__list .card{
    position: relative;
}

.card__list p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

