.hero{
    position: relative;
}

.banner__img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero__caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}

.caption__img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero__caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero__btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.hero__btns .btn img{
    width: 25px;
}

.hero__btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero__btns .btn.dark__btn{
    color: #fff;
    background: #6d6d6eb3;
}

.hero__btns .btn:hover{
    background: #ffffffbf;
}

.hero__btns .btn.dark__btn:hover{
    background: #6d6d6e66;
}

.more__cards{
    padding-left: 6%;
}