.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%,
    transparent);
    z-index: 1;
}

.navbar__left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar__left img{
    width: 90px;
}

.navbar__left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar__left ul li{
    cursor: pointer;
}

.navbar__right{ 
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__right .icons{
    width: 20px;
    cursor: pointer;
}

.navbar__right .profile{
    border-radius: 4px;
    width: 35px;
}

.navbar__profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar__profile:hover .dropdown{
    display: block;
}
