.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}

.player__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

@media (max-width: 800px) {
    .player__info{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .player__info{
        font-size: 10px;
        padding: 20px;
    }
}